@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1F7A8C;
}

a:hover {
  color: #e1e5f2;
}

#panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #022b3a;
  text-align: center;
}

#panel-title {
  color: white;
}

#station-container {
  background-color: #e1e5f2;
  width: 100%;
}

select {
  width: 30vw;
}

#analytics {
  overflow: auto;
  max-height: 68vh;
  margin-bottom: 2vh;
}

#analytics p {
  position: absolute;
  top: 45vh;
  left: -1vw;
  width: 50vh;
  margin: 0 0;
  font-style: italic;
  font-size: 0.7rem;
  transform: rotate(-90deg);
}

#chart {
  display: flex;
  justify-content: center;
  max-height: 60vh;
  max-width: 75vw;
  margin: 0 5vw;
}

table,
th,
td {
  border-collapse: collapse;
  font-size: 0.8rem;
}

table {
  margin: 1vh auto 5vh;
  border: 2px solid;
}

th {
  padding: 0.5vh 2vw !important;
  background-color: #022b3a;
  color: #ffffff;
}

th,
td {
  border: 1px solid;
  padding: 0.1vh 2vw;
}

#attribution {
  width: 100%;
  margin: 0;
  padding: 2vh 0;
  background-color: #022b3a;
  color: white;
  font-size: 0.5rem;
}